body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color :rgb(240, 240, 240);
}
.arrayCenter {
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movies {
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding : 50px;
}
.movieComponent {
    width : 40%;
    max-width: 310px;
    min-width: 250px;
    margin : 20px;
    padding : 10px;
    background-color:rgb(196, 230, 238);
}
.movieTitle {
    color: rgb(82, 77, 6);
}
.homeHeaderContainer {
    width : 100%;
    background-color: rgb(221, 242, 247);
}